@import "bourbon";
@import "neat";
@import "libs/reset";
@import "libs/ie";

$max-width:90%;

$desktop	: new-breakpoint(min-width 769px 12);
$tablet		: new-breakpoint(max-width 768px 6);
$mobile 	: new-breakpoint(max-width 480px 4);


/*
=================================================

									MIXINS

=================================================
*/

@mixin jtContainer
{
	@include outer-container;
	width:$max-width;
	max-width:1280px;
	position:relative;
}


/*
=================================================

									TYPOGRAPHY

=================================================
*/

	$headlineSize : 42px;
		$headlineSizeLH : 44px;

	$subheadlineSize : 32px;
		$subheadlineSizeLH : 34px;

	$midSize : 24px;
		$midSizeLH : 26px;

	$bodySize : 15px;
		$bodySizeLH : 18px;

	$metaSize : 13px;
		$metaSizeLH : 15px;


	@mixin headlineFont()
	{
		font-family:sans-serif;
		font-weight:normal;
		font-style:normal;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	@mixin bodyFont()
	{
		font-family:sans-serif;
		font-weight:normal;
		font-style:normal;
		-webkit-font-smoothing:antialiased;
		-moz-osx-font-smoothing: grayscale;
	}



/*
=================================================

									COLOURS

=================================================
*/

	$black : lighten(#000000,15);
	$white : #FFFFFF;
	$grey  : lighten($black,25);

	.black {
		color:$black;
	}
		.black-bg {
			color:$black;
		}

	.white {
		color:$white;
	}
		.white-bg {
			color:$white;
		}

	.grey {
		color:$grey;
	}
		.grey-bg {
			color:$grey;
		}



/*
=================================================

									GENERAL STYLES

=================================================
*/

	html, body {
		@include bodyFont();
		font-size:$bodySize;
		line-height:$bodySizeLH;
	}

	html {
		&.mobile-open {

			@include media($tablet) {
				overflow:hidden;
			}
		}
	}

	.overflow {
		overflow:hidden;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight:normal;
	}
	h1 {
		@include headlineFont();
		font-size:$headlineSize;
		line-height:$headlineSizeLH;
	}
	h2 {
		@include headlineFont();
		font-size:$subheadlineSize;
		line-height:$subheadlineSizeLH;
	}
	h3 {
		@include headlineFont();
		font-size:$midSize;
		line-height:$midSizeLH;
	}

	.left-align {
		text-align:left;
	}
	.centre-align {
		text-align:center;
	}
	.right-align {
		text-align:right;
	}

	a {
		text-decoration:none;
		opacity:1;
		@include transition(opacity .2s);

		&:hover {
			opacity:0.6;
		}
	}

	img {
		max-width:100%;
		height:auto;
	}

	.clearfix {
		@include clearfix;
	}
	.container {
		@include jtContainer;
	}



/*
======================================

	EXTEND STYLES

======================================
*/

	.vertical-align-middle {
		position:absolute;
		top:50%;
	}



/*
======================================

	PARTIALS

======================================
*/

	@import "partials/nav";








