
nav#main-head {
	position:fixed;
	width:100%;
	background-color:$black;
	@include transition(.25s padding ease-in-out, .25s transform ease-in-out);
	z-index:10000;

	& > .container {
		padding:20px 0px;
	}

	/* 
	// headroom.js class handles
	*/

	&.headroom--top {

	}
	&.headroom--not-top {

	}
	&.headroom--unpinned {
		@include transform(translateY(-100%));
	}

	.logo_wrap {
		@include span-columns(4);
	}

	.primary-nav {
		@include span-columns(8);
		text-align:right;

		li {
			display:inline-block;
			margin-left:10px;

			a {
				color:$grey;

				&.active {
					color:$white;
				}
			}
		}
	}

	.navicon {
		display:none;
	}
}

.logo {
	color:$white;
}

@include media($desktop) {
	#mobile-menu {
		display:none !important;
	}
}

@include media($tablet) {
	nav#main-head {

		.primary-nav {
			display:none;
		}

		.navicon {
			display:block;
			width:32px;
			height:32px;
			position:absolute;
			right:0px;
			top:50%;
			margin-top:-16px;
			z-index:1000;

			.line {
				background-color:$white;
				position:absolute;
				height:2px;
				width:100%;
				@include transition(.25s transform, .25s opacity);

				&.one {
					top:15%;
				}

				&.two {
					top:15px;
				}

				&.three {
					bottom:15%;
				}
			}

			&:hover {
				opacity:1;
			}

			&.close, html.mobile-open &  {

				.line {

					&.one {
						@include transform(rotate(45deg));
						top:15px;
					}
					&.two {
						opacity:0;
					}
					&.three {
						@include transform(rotate(-45deg));
						bottom:15px;
					}
				}
			}
		}

		html.mobile-open & {
			@include transform(translateY(0%) !important);
		}
	}

	#mobile-menu {
		position:fixed;
		width:100%;
		height:100%;
		display:none;
		z-index:8000;
		background-color:$black;

		.container {
			height:100%;
			display:table;
		}

		.primary-nav {
			display:table-cell;
			vertical-align:middle;

			li {
				margin-bottom:$midSizeLH;

				a {
					color:$white;
					@extend h3;
				}
			}
		}
	}
}

@include media($mobile) {
	
}